@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: urbanist;
  src: url(Urbanist-Regular.ttf);
}

.urbanist {
  font-family: urbanist;
}

@font-face {
  font-family: urbanistBold;
  src: url(Urbanist-Bold.ttf);
}

.urbanist-bold {
  font-family: urbanistBold;
}

@font-face {
  font-family: aktivGrotesk;
  src: url(aktiv_grotesk_regular.woff2);
}

.aktiv-grotesk {
  font-family: aktivGrotesk;
}

@font-face {
  font-family: aktivGroteskBold;
  src: url(aktiv_grotesk_bold.ttf);
}

.aktiv-grotesk-bold {
  font-family: aktivGroteskBold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.album-transition {
  transition: left 0.5s, top 0.5s, opacity 0.5s, width 0.7s ease, height 0.7s ease;
}

.photocard-transition {
  transition: opacity 0.25s;
}

.member-select-transition {
  transition: opacity 0.25s;
}

@keyframes cd-fade-in-animation {
  0% {
    opacity: 0;
    margin-top: 500px
  }
  50% {
    opacity: 0;
    margin-top: 500px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes cd-fade-out-animation {
  0% {
    opacity: 1;
    margin-top: 0px
  }

  100% {
    opacity: 0;
    margin-top: 400px;
  }
}

.cd-fade-in {
  animation: cd-fade-in-animation 1.4s ease-out;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.cd-spin {
  animation: rotation 6s infinite linear;
}

.bg-fade {
  transition: background-color 0.4s;
}

.photocard-aspect-ratio {
  aspect-ratio: 97.5 / 163;
}

.intro-fade {
  transition: opacity 0.7s;
}


.intro-2-fade {
  transition-property: opacity;
  transition-delay: 0.7s;
  transition-duration: 0.7s;
}

.intro-2-fade-out {
  transition-property: opacity;
  transition-duration: 0.7s;
}